.App { 

}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.inputs {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
}

.inputs input {
  width: 294px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.inputs button {
  border: none;
  width: 304px;
  height: 50px;
  background-color: #212121;
  color: #fff;
  font-size: 18px;
  border: 5px solid #fff;
  border-radius: 5px;
}

.inputs button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #212121;
  transition: 0.5s all;
}

.friend-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.friend-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.friend-item {
  padding: 10px;
  width: 200px;
  height: 100px;
  color: #fff;
  background-color: #212121;
  border-radius: 5px 0 0 5px;
}

.friend-group button {
  color: #fff;
  font-size: 30px;
  border: none;
}

.friend-group button:hover{
  cursor: pointer;
}

.update-button {
  background-color: rgba(255, 145, 0, 0.918);
}

.delete-button {
  background-color: rgb(212, 34, 28);
  border-radius: 0 5px 5px 0;
}

img { 
  width: 500px;
  margin: 20px;
}

.profile-button {
  position: fixed;
  z-index: 999999;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  color: #fff;
  width: 200px;
  height: 50px;
  bottom: 16px;
  right: 16px;
  border-radius: 5px;
  border-style: none;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
  background-color: #212121;
}

.profile-button:hover {
    box-shadow: none;
    transform: scale(1.1);
    cursor: pointer;
} 
